<form class="col-md-4 mt-5 mb-5 offset-4 card card-body bg-info" #form2="ngForm" (ngSubmit)=submitData1(form2)>
        <h1 class="bg-dark text-light text-center form-group">Form2</h1>
    <div class="form-group">
        <input type="text" class="form-control" name="candname" id="candname" placeholder="Candidate Name" #candname="ngModel" ngModel required minlength="5">
    </div>
    <div *ngIf="candname.touched && candname.invalid">
        <p class="alert alert-danger" *ngIf="candname.errors.required">This field is required</p>
    <p class="alert alert-danger" *ngIf="candname.errors.minlength">This field is required</p>
</div>  
    <div class="form-group">
        <input type="text" class="form-control" name="FOE" id="YOE" placeholder="Year Of Experience">
    </div>
    <div class="form-group">
        <label>Skills</label><br>
            <input type="radio" name="sk1">java
            <input type="radio" name="sk1">angular
            <input type="radio" name="sk1">SQL
            <input type="radio" name="sk1">Springs
    </div>
    <div class="form-group">
            <input type="text" class="form-control" name="CCTC" id="CCTC" placeholder="CCTC" required>
        </div>

        <div *ngIf="CCTC.touched && CCTC.invalid">
            <p class="alert alert-danger" *ngIf="CCTC.errors.required">This field is required</p>
        </div>
        <div class="form-group">
                <input type="text" class="form-control" name="ECTC" id="ECTC" placeholder="ECTC">
            </div>
            <div class="form-group">
                    <input type="text" class="form-control" name="relocate" id="relocate" placeholder="Ready To Relocate">
                </div>
                <div class="form-group">
                        <button type="submit" class="btn btn-outline-success float-right" [disabled]=form2.invalid>Shedule Interview</button>
                    </div>
                
</form>
