<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/about">About</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" routerLink="/help"> Help </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/propertybinding">propertyBindind</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/eventbinding">Event Binding</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="/two-way">Two-way Binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/ngfor">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/ngswitch">Ng-Switch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/form1">Form 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/form2">Form 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/form3">Form 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/form4">Form 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/reactive-form">Reactive Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/parent">Parent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/comment-details">Comment Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/raj">Raja-reactive-form</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" routerLink="/ngif">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/register">Register</a>
      </li>


    </ul>

  </div>
</nav>